#.github/CODEOWNERS
# Todo o repositorio
* @dhuberto

#Workflows do CI/CD - dono do repo obrigatorio
/.github/workflows/     @dhuberto

# Manifestos de deploy - todos revisam quando mudar
# /k8s/                   @dhuberto
